body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

/* banner section styles */
.header-container {
    width: 80%;
    margin: 4% auto;
    background-color: black;
    border-radius: 20px;
}

.banner-section {
    display: flex;
    align-items: center;
}

.half-width {
    width: 50%;
    padding: 5%;
}

h1 {
    font-size: 4vw;
}

.text-white {
    color: white;
}

.watch-live-btn {
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 5px 15px;
    background-color: red;
    border-radius: 3px;
}

.responsive-img {
    width: 100%;
}

/* main(nav & card) section styles */
main {
    width: 80%;
    margin: 0 auto;
}

.main-section {
    display: grid;
    grid-template-columns: 300px 1fr;
}

/* navigation section styles */
.navigation-container {
    margin-right: 8%;
    height: 250px;
    background-color: black;
    border-radius: 10px;
}

.nav-cont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.nav {
    width: 80%;
    height: 50px;
    display: flex;
    margin: auto;
    margin-top: 9%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.nav a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

#different-nav-color {
    background-color: red;
}

#different-nav-color a {
    color: white;
}

/* card section styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.card {
    border: 1px solid lightgray;
    border-radius: 4%;
}

.card-text {
    padding: 3%;
}

.card-button {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.card-icon-section {
    display: flex;
    justify-content: space-around;
}

/* main section responsive for small devices */
@media screen and (max-width: 576px) {
    .main-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-container {
        margin-top: 10%;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* footer container styles */
.footer-container {
    margin-top: 10%;
    height: 350px;
    background-color: black;
    display: flex;
}

.footer-cont {
    width: 80%;
    margin: auto;
    text-align: center;
    /* justify-content: center; */
}

.footer-cont h2 {
    font-size: 2.5em;
}

.footer-link-container {
    height: 100%;
    padding: 2% 10%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.footer-link-container a {
    text-decoration: none;
}



/* responsive for medium devices */
@media screen and (min-width: 577px) and (max-width: 768px) {

    /* navigation responsive */
    .navigation-container {
        margin-right: 0;
        height: 80px;
        background-color: white;
    }

    .nav-cont {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        width: 30%;
        border: 1px solid lightgray;
    }

    /* main section responsive */
    .main-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-container {
        margin-top: 10%;
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
    }

    /* footer responsive */
    .footer-container {
        margin-top: 200px;
    }
}

/* responsive for small devices */
@media screen and (max-width: 576px) {

    /* header section responsive */
    .banner-section {
        flex-direction: column;
        align-items: center;
    }

    .half-width {
        text-align: center;
    }

    /* nevigation responsive */
    .navigation-container {
        margin: 0;
        background-color: white;
    }

    .nav {
        border: 1px solid lightgray;
    }

    /* footer responsive */
    .footer-container {
        height: 100%;
        margin-top: 700px;
    }

    .footer-link-container {
        flex-direction: column;
    }
}